.checkout-form {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  height: 50vh;
}

.form-section {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  margin-bottom: 0.5rem;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.submit-button {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

button {
  background-color: #ff6b81;
  color: white;
  border: none;
  padding: 0.9rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  width: 30rem;
}

/* button:hover {
  background-color: #e85066;
} */
